@media screen and (min-height: 640px) {
  .info-escola-container .header-placeholder {
    display: none;
  }
  .info-escola-container .content {
    height: 100vh;
  }
}

.info-escola-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
}

.svg-button {
  transition: all 0.2s;
  transform-origin: center;
  transform-box: fill-box;
}

.svg-button:hover {
  animation: select 200ms 1 0s;
  opacity: 0.8;
  transform: translate(2rem, 0);
}

@keyframes select {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0.8;
    transform: translate(2rem, 0);
  }
}