.help-classroom-container form section {
    margin: auto;
    width: 100%;
    align-items: center;
}

.help-classroom-container .flex {
    display: inline-flex;
    flex-direction: row;
}

.help-classroom-container form #digito-ra {
    width: 30%;
    margin-left: 0.75rem;
}

.help-classroom-container input,
.help-classroom-container button,
.help-classroom-container section {
    margin-top: 0.75rem;
    width: 100%;
}

#studentemail {
    text-align: center;
}

div#geraremail {
    padding: 0.75rem;
    background-color: var(--black);
    border-radius: 16px;
}

@media screen and (min-width: 600px) {
    .help-classroom-container .content {
      max-width: 700px;    
      margin: 0.75rem auto 0 auto;
    }
}