.home-container {
  width: 100%;
  height: 3rem;
  margin: 0 auto;

/*
  display: flex;
  align-items: center;

  justify-content: space-between;
*/
}

.home-container header {
  width: 100%;
  margin: 0;
  padding: 3rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  position: absolute;
  /*
    justify-content: space-between;
  */
}

.home-container header p {
  font-size: xx-large;
  color: white;
}

.home-container header p:not(:first-child) {
  margin-top: 1rem;
}