:root {
  /* THEME COLORS */
  --background-color: #3b444b;
  --main-color: #447cce;

  --white: #ffffff;
  --black: #000000;
  --dark-gray: #848482;
  --warning-background: #447fff;
  --important: #2a52be;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  text-rendering: optimizeLegibility;
}

html, body, #root {
  font: 400 14px sans-serif;
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/* ANIMATION */

.page {
  position: absolute;
  left: 0;
  right: 0;  
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms linear 75ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 75ms linear;
}

/* ANIMATION */

header .header-title {
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-color: var(--main-color);
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  color: var(--white);
}

div.header-placeholder {
  background-color: var(--main-color);
  height: 3rem;
}

div.warnings {
  display: none;
  padding: 0.75rem;
  background-color: var(--warning-background);
}

div.curriculum-container div.warnings {
  display: block;
}

.important {
  color: var(--background-color);
  font-size: 1rem;
  font-weight: bolder;
}

div.warnings p.important:not(:first-of-type) {
  margin-top: 1.75rem;
}

.content {
  margin: 0.75rem 0.75rem 0.75rem 0.75rem;
} 


.title {
  font-weight: bold;
  font-size: 1.5rem;
  /*
  margin: 0.75rem 0 0.75rem 0;
  */
  color: var(--white);
  text-align: center;
}

.text {
  margin: 0.75rem 0;
  text-align: justify;
  color: var(--white);
}

/*
.title:not(:first-child) {
  margin-top: 1.50rem;
} 
*/

input,
button,
textarea,
.button,
.input {
    font: 400 18px sans-serif;
}

button,
.button {
    cursor: pointer;
}

form input,
 .input {
    width: 100%;
    height: 3rem;
    color: var(--dark-gray);
    border: 1px solid var(--border-gray);
    background-color: var(--white);
    border-radius: 8px;
    padding: 0.75rem 0.75rem;
}

form textarea {
    width: 100%;
    resize: none;
    min-height: 10rem;
    /* height: rem; */
    color: var(--dark-gray);
    border: 1px solid var(--border-gray);
    background-color: var(--white);
    border-radius: 8px;
    padding: 0.75rem;
    line-height: 1.75rem;
}

.button {
    padding: 0.75rem;
    width: 100%;
    background: var(--main-color);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    /* font-size: 18px;  */
    line-height: 100%; /**/
    /* height: 3rem;  */
}

.button:hover {
    filter: brightness(90%);
}

.icons {
  font-size: 2.25rem;
  text-align: center;
  color: var(--white);
}

footer {
  padding: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color);
  text-align: center;
  font-weight: 400;
  color: var(--white)
}

footer p {
  margin-top: 0.75rem;
}

footer .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .socialMedia .icons {
  margin: 0 0.75rem 0 0 ;
}

.hover {
  cursor: pointer;
  transition: all 0.2s;
}

.hover:hover, .hover:active {
  opacity: 0.7;
}

p.align-center,
div.align-center {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

.nonfunctional {
  background-color: grey;
  color: #d5d5d5;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 ease-in;
  transition: none;
  cursor: not-allowed;
  /* display: none; */
}

section.grid {
  width: 100%;
  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: 1fr 1fr;
}

ul.default {
  margin-top: 0.75rem;
  grid-template-columns: 1fr;
}

ul.default {
  display: grid;
  grid-gap: 0.75rem;
  list-style: none;
  align-items: center;
}

ul.default li {
  line-height: 100%;
  background: var(--white);
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

ul.default li strong,
ul.default li p {
  display: block;
  /*
  margin-bottom: 0.5rem;
  */
  color: var(--dark-gray);
  text-decoration: none;
}

ul.default li img {
  border: solid var(--background-color);
  border-radius: 8px;
  margin-top: 0.75rem;
  width: 100%;
}

.vertical-align .header-placeholder {
  display: none;
}

.vertical-align div.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  ul.default li {
      max-width: 500px;    
      margin: 0 auto 0 auto;
      width: 100%;
      align-items: center;
  }
  footer .button {
    max-width: 500px;
    align-self: center;
  }
}

@media screen and (min-height: 560px) {
  div.vertical-align footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
  }
}

.item-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75rem 0 0 0;
}

.item-flex .arrow {
  color: var(--background-color)
}

ul.default li p {
  font-family: monospace;
  font-weight: 600;
  text-transform: lowercase;
}

/* TEMPORARY, REMOVE AS SOON AS POSSIBLE */

footer {
  height: 3rem;
}

/* TEMPORARY, REMOVE AS SOON AS POSSIBLE */

footer .footer-text {
  display: none;
}

div.cdgs-container footer,
div.help-classroom-container footer {
  height: unset;
  padding: 0.75rem;
}

div.cdgs-container footer .footer-text, 
div.help-classroom-container footer .footer-text {
  display: block;
}

div.cdgs-container footer .button {
  background-color: var(--background-color);
  margin: 0 0 0.75rem 0;
}

div.help-classroom-container footer .button {
  display: none;
}

div.cdgs-container .warnings {
  display: block;
}

.margintop75rem {
  margin-top: 0.75rem;
}

a {
  display: contents;
}

button.copy,
a.copy,
p.copy,
input.copy {
  cursor: copy;
}