:root {
  /* THEME COLORS */
  --bg-dark: #292f34;
  --bg-color: #3b444b;
  --bg-light: #62696f;
  --main-dark: #2a3eb1;
  --main-color: var(--bg-dark);
  --main-light: #637bfe;

  --border-color: #313233;
  --border: 1px solid var(--nav-item);
  --text-color: #eceff1;
  --bg-secondary: var(--bg-dark);
  --white: #000000;
  --black: #0f1214;
  --dark-gray: #848482;
  --warning-background: #447fff;
  --error: #e32636;
  --success: #03c03c;
  --important: #2a52be;
  --button: #447cce;

  --bg-color: #3b444b;
  --main-color: #447cce;
  --btn-text: #f2f3f4;
  --btn-border: 0;
  --color-transition: 0;
  /* --white: #ffffff;
  --black: #000000;
  --dark-gray: #848482;
  --warning-background: #447fff;
  --important: #2a52be; */

  /* NAVBAR */
  --nav-size: 3rem;
  --nav-item: #637bfe;
  --nav-text: var(--text-color);
  --speed: 200ms
}

a {
  color: unset;
  display: contents;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  text-rendering: optimizeLegibility;
  max-width: 100vw;
  transition: background var(--color-transition) ease-in-out;
}

html, body, #root {
  font: 400 14px sans-serif;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/* ANIMATION */

.page {
  position: absolute;
  left: 0;
  right: 0;  
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms linear 75ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 75ms linear;
}

/* ANIMATION */

header {
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-color: var(--main-color);
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

div.header-placeholder {
  background-color: var(--main-color);
  height: 3rem;
}

div.warnings {
  display: none;
  padding: 0.75rem;
  background-color: var(--main-light);
}

div.curriculum-container div.warnings {
  display: block;
}

.important {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

div.warnings p.important:not(:first-of-type) {
  margin-top: 1.75rem;
}

/* NAVBAR */

nav.navbar {
  height: 3rem;
  background-color: var(--main-color);
  padding: 0;
  /* border-bottom: 1px solid var(--bg-accent); */
}

nav.navbar ul.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav.navbar ul.navbar-nav li.nav-item:first-of-type {
  margin-right: auto;
  width: max-content;
}

nav.navbar ul.navbar-nav li.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.navbar ul.navbar-nav li.nav-item .nav-button {
  --button-size: calc(var(--nav-size) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--nav-item);
  border-radius: 50%;
  padding: 5px;
  /* margin: 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  color: var(--text-color)
}

nav.navbar ul.navbar-nav li.nav-item .nav-button.selected {
  background-color: var(--success);
}

nav.navbar ul.navbar-nav li.nav-item .nav-button:hover {
  filter: brightness(1.2)
}

nav.navbar ul.navbar-nav li.nav-item .nav-button .nav-icon {
  color: var(--text-color);
}

nav.navbar .dropdown {
  position: absolute;
  top: calc(var(--nav-size) * 0.95);
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--main-color);
  border: var(--border);
  border-radius: 8px;
  padding: 0 0.25rem;
  overflow: hidden;
  transition: height var(--speed) ease;

}

nav.navbar .menu {
  padding: 0.75rem 0;
}

nav.navbar .menu-item {
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background var(--speed);
  padding: 0.75rem;
}

nav.navbar div.menu a.menu-item p {
  color: var(--nav-text);

}

nav.navbar .menu-item:hover {
  transition: all 0.2s ease;
}

nav.navbar .menu-item:hover {
  background: var(--main-color);
  filter: brightness(0.9);
}

nav.navbar div.dropdown a.menu-item span.nav-button {
  --menu-btn-size: calc(var(--nav-size) * 0.5);
  width: var(--menu-btn-size);
  height: var(--menu-btn-size);
  margin-right: 0.25rem;
}

nav.navbar div.dropdown .menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

nav.navbar div.dropdown .menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

nav.navbar div.dropdown .menu-primary-exit {
  position: absolute;
}

nav.navbar div.dropdown .menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

nav.navbar div.dropdown .menu-secondary-enter {
  transform: translateX(110%);
}

nav.navbar div.dropdown .menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

/* nav.navbar div.dropdown .menu-secondary-exit {
  
} */

nav.navbar div.dropdown .menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* NAVBAR */

@keyframes contentLoad {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bodyLoad {
  0% {
    /* transform: scale3d(0, 0, 0); */
    /* transform: rotate(0deg); */
    transform: scale3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    /* transform: scale3d(1, 1, 1); */
    /* transform: rotate(1440deg); */
    transform: scale3d(1, 1, 1) rotateX(1440deg) rotateY(1440deg) rotate(1440deg);
  }
}

.content {
  margin: 0.75rem 0.75rem 0.75rem 0.75rem;
  overflow: hidden;
  /* animation: 350ms ease-out 0s 1 contentLoad; */
} 

/* body {
  animation: 5s linear 0s 1 bodyLoad;
} */

.title {
  font-weight: bold;
  font-size: 1.5rem;
  /*
  margin: 0.75rem 0 0.75rem 0;
  */
  color: var(--text-color);
  text-align: center;
}

.title2 {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
}

.text {
  margin: 0.75rem 0;
  text-align: justify;
  color: var(--text-color);
}

/*
.title:not(:first-child) {
  margin-top: 1.50rem;
} 
*/

.recaptcha-container {
  background-color: var(--bg-secondary);
  width: 100%;
  text-align: center;
}

.g-recaptcha {
  width: auto !important;
  height: auto !important;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}

input,
button,
textarea,
.button,
.input {
    font: 400 18px sans-serif;
}

button,
.button {
    cursor: pointer;
}

form input,
.input {
    width: 100%;
    /* height: 3rem; */
    color: var(--dark-gray);
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    border-radius: 8px;
    padding: 0.75rem;
}

form textarea {
    width: 100%;
    resize: none;
    min-height: 10rem;
    /* height: rem; */
    color: var(--dark-gray);
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    border-radius: 8px;
    padding: 0.75rem;
    line-height: 1.75rem;
}

.button {
    padding: 0.75rem;
    width: 100%;
    background: var(--button);
    border: var(--btn-border);
    border-radius: 8px;
    color: var(--btn-text);
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
    /* font-size: 18px;  */
    line-height: 100%; /**/
    /* height: 3rem;  */
}

.button:hover {
    filter: brightness(90%);
}

.icons {
  font-size: 2.25rem;
  text-align: center;
  color: var(--text-color);
}

footer {
  padding: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color);
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
}

footer p {
  margin-top: 0.75rem;
}

footer .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .socialMedia .icons {
  margin: 0 0.75rem 0 0 ;
}

.hover {
  cursor: pointer;
  transition: all 0.2s;
  transition: transform 500ms ease-in-out;
}

.hover:hover, .hover:active {
  opacity: 0.7;
  transform: scale(1.03, 1.03)
}

.align-center {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

.nonfunctional {
  background-color: grey;
  color: #d5d5d5;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 ease-in;
  transition: none;
  cursor: not-allowed;
  /* display: none; */
}

section.grid {
  width: 100%;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr 1fr;
}

ul.default {
  margin-top: 0.75rem;
  grid-template-columns: 1fr;
}

ul.default {
  display: grid;
  grid-gap: 0.75rem;
  list-style: none;
  align-items: center;
}

ul.default li {
  line-height: 100%;
  background: var(--bg-secondary);
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  text-align: center;
  /* animation: 300ms ease-in-out 0s 1 cardLoad; */
}

ul.default li strong,
ul.default li p {
  display: block;
  /*
  margin-bottom: 0.5rem;
  */
  color: var(--text-color);
  text-decoration: none;
}

ul.default li img {
  border: solid var(--bg-color);
  border-radius: 8px;
  margin-top: 0.75rem;
  width: 100%;
}
/* @media screen and (min-height: 560px) { */

  .vertical-align .header-placeholder {
    display: none;
  }

  .vertical-align div.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.75rem;
    margin: 0;
  }
/* } */

@media screen and (min-width: 600px) {
  ul.default li {
      max-width: 500px;    
      margin: 0 auto 0 auto;
      width: 100%;
      align-items: center;
  }
  footer .button {
    max-width: 500px;
    align-self: center;
    margin: 0 auto;
  }
}

@media screen and (min-height: 640px) {
  div.vertical-align footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
  }
}

.item-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75rem 0 0 0;
}

.item-flex .arrow {
  color: var(--text-color)
}

.cdgs-container ul.default li p {
  font-family: monospace;
  font-weight: 600;
  text-transform: lowercase;
}

/* TEMPORARY, REMOVE AS SOON AS POSSIBLE */

footer {
  height: 3rem;
}

/* TEMPORARY, REMOVE AS SOON AS POSSIBLE */

footer .footer-text {
  display: none;
}

div.cdgs-container footer {
  display: block;
  height: unset;
  padding: 0.75rem;
}

div.cdgs-container footer .footer-text, 
div.help-classroom-container footer .footer-text {
  display: block;
}

div.cdgs-container footer .button {
  background-color: var(--bg-color);
  margin: 0 auto 0.75rem auto;
}

div.help-classroom-container footer .button {
  display: none;
}

div.cdgs-container .warnings {
  display: block;
}

.margintop75rem {
  margin-top: 0.75rem;
}

button.copy,
a.copy,
p.copy,
input.copy {
  cursor: copy;
}

.progress-bar {
  display: block;
  width: 100%;
  height: 3rem;
  color: var(--dark-gray);
  border: 1px solid var(--border-color);
  background-color: var(--bg-secondary);
  border-radius: 8px;
}

.progress {
  height: 100%;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 8px;
}

button.btn-green {
  background: var(--success);
  animation: 500ms ease-in-out 0s 1 btn-green;
}

button.btn-red {
  background: var(--error);
  animation: 500ms ease-in-out 0s 1 btn-red;
}

@keyframes btn-red {
  0% {
    /* background-color: inherit; */
    transform: scale(0);
  }
  100% {
    background-color: var(--error);
    transform: scale(1);
  }
}

@keyframes btn-green {
  0% {
    /* background-color: inherit; */
    transform: scale(0);
  }
  100% {
    background-color: var(--success);
    transform: scale(1);
  }
}





.help-classroom-container.vertical-align .footer-text {
  display: none;
}

.help-classroom-container form section {
  margin: auto;
  width: 100%;
  align-items: center;
}

.help-classroom-container .flex {
  display: inline-flex;
  flex-direction: row;
}

.help-classroom-container form #digito-ra {
  width: 30%;
  margin-left: 0.75rem;
}

.help-classroom-container input,
.help-classroom-container button,
.help-classroom-container section {
  margin-top: 0.75rem;
  width: 100%;
}

#studentemail {
  text-align: center;
}

div#geraremail {
  padding: 0.75rem;
  background-color: var(--bg-color);
  border-radius: 16px;
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
}

@media screen and (min-width: 600px) {
  div.help-classroom-container div.content {
    max-width: 600px;    
    margin: 0 auto;
  }
}

.help-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-secondary);
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 1.1rem;
}

@keyframes cardLoad {
  0% {
    /* background-color: var(--success); */
    transform: scale(0);
  }
  100% {
    /* background-color: var(--bg-secondary); */
    transform: scale(1);
  }
}

.help-card {
  /* animation: 500ms ease-out 0s 1 cardLoad; */
  text-align: justify;
}

/* .help-card section.grid {
  margin-top: -0.75rem;
} */


/* 
.popup {
  animation: PoPuP 0.5s cubic-bezier(0.250,  0.460, 0.450, 0.940) both;
  -webkit-animation: PoPuP 0.5s cubic-bezier(0.250,  0.460, 0.450, 0.940) both;
}

@keyframes PoPuP {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3),
  }
} */

/* .g-recaptcha {
  filter: contrast(0.2) grayscale(1);
}   */

.emfull {
  margin-top: 0.27rem;
  max-width: 3rem;
  fill: var(--text-color);
}

.emfull-text {
  /* animation: 12s rotate 0s infinite linear; */
  transform-origin: center;
}

.emfull-logo {
  /* fill: url('#logo-gradient'); */
  transform-origin: center;
}

@keyframes rotate {
  0% {
    /* fill: var(--text-color); */
    transform: rotateY(0)
  }
  25% {
    /* fill: var(--main-color) */
    transform: rotateY(0)
  }
  50% {
    /* fill: var(--text-color); */
    transform: rotateY(180deg)
  }
  75% {
    /* fill: var(--main-color) */
    transform: rotateY(0)
  }
  100% {
    /* fill: var(--text-color) */
    transform: rotateY(0)
  }
}

/* 
@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(46px);
  }
}

.warnings {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: repeating-linear-gradient(
    -55deg,
    #ffffff 1px,
    #000000 2px,
    #000000 11px,
    #ffffff 12px,
    #ffffff 20px
  );
  animation: .6s MOVE-BG linear infinite;
  -webkit-animation: .6s MOVE-BG linear infinite;
} */

#stars {
  transform-origin: center;
  animation: 10s stars 0s infinite linear ;
}

@keyframes stars {
  0% {
    transform: scale(0.8)
  }
  50% {
    transform: scale(1)
  }
  100% {
    transform: scale(0.8)
  }
}

#cap-tassel {
  transform-origin: center;
}

@keyframes cap {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(2em)
  }
  100% {
    transform: translateY(0)
  }
}

#degree {
  transform-origin: center;
  animation: 10s degree 0s infinite linear ;
}

@keyframes degree {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(0.5em)
  }
  100% {
    transform: translateY(0)
  }
}

#tassel {
  transform-origin: top;
  transform-box: fill-box;
  animation: 7.5s tassel 0s infinite linear ;
}

@keyframes tassel {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(2deg)
  }
  75% {
    transform: rotate(-2deg)
  }
  100% {
    transform: rotate(0)
  }
}

/* .home {
  background-color: var(--main-light);
  clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 50%, 50% 100%, 0% 50%);
} */

.schedule-tarde-container,
.schedule-tarde-container p {
  font-family: unset;
}

.schedule-container ul.default li strong {
  margin-bottom: 0.75rem;
}

.schedule-container ul.default li.item-flex strong {
  margin-bottom: 0;
}

.schedule-container ul.default li p {
  margin: 0.25rem;
}

.schedule-container ul.default li p:last-of-type {
  margin-bottom: 0;
}
/* 
li:nth-of-type(odd) {
  animation: 1s liodd 1 0s both;
  transform-origin: 50% 50%;
}

li:nth-of-type(even) {
  animation: 1s lieven 1 0s both;
}

@keyframes liodd {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes lieven {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
} */